@font-face {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Clear Sans'), url(../font/ClearSans-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Clear Sans'), url(../font/ClearSans-Bold.woff) format('woff');
}

body, h1, h2, h3 {
    font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body, h1, h2, h3, code {
    color: #444;
}
p, ul {
    font-size: 16px;
}
footer, footer > p {
    font-size: 13px;
}
.jumbotron p {
    font-size: 20px;
}
.rust-code {
    font-family: "Courier New", "Courier", "Nimbus Mono L", monospace;
    font-size: 18px !important;
}
@media (min-width: 992px) {
    .rust-code {
        margin-top: 18px;
    }
}
.kw {
    font-weight: bold;
    color: #7B644F;
}
.id {
    color: #A6856B;
}
.str {
    color: #A2A96F;
}
.var {
    color: #D7AF72;
}
.jumbotron {
    background-color: #F8F8F8;
}
header {
    margin-top: 40px;
    margin-bottom: 40px;
}
table {
    width: 100%;
}
th, td {
    text-align: left;
}

/* Override lg width */
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 768px) {
    .lead {
        /*font-size: 23px;*/
    }
    .xs-text {
        display: none;
    }
    .md-text {
        display: inline !important;
    }
}
i {
    display: block;
}
section h3 {
    font-weight: bold;
}
section ul {
    padding-left: 25px;
}
header h1 small {
    font-size: 70%;
}

@media (min-width: 992px) {
    img.ribbon {
        display: inline !important;
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
    }
}

/* Download script */
html p.btn-dl>a.btn {
    display: none;
}
html.no-js .btn-other {
    display: inline-block;
}
html.js.windows .btn-windows {
    display: inline-block !important;
}
html.osx .btn-macos {
    display: inline-block !important;
}
html.linux .btn-linux {
    display: inline-block !important;
}
html.android .btn-android {
    display: inline-block !important;
}

small.alt {
    display: block;
    font-size: 13px;
    margin-left: 15px;
}
small.alt a {
    color: inherit;
}

/* Hack this */
header a:hover {
    text-decoration: none;
}