@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v4/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v4/QQt14e8dY39u-eYBZmppwTqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url(http://themes.googleusercontent.com/static/fonts/droidserif/v4/cj2hUnSRBhwmSPr9kS5899kZXW4sYc4BjuAIFc1SXII.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v4/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v4/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}

body {
  color: #444;
  font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, /*.btn,*/ header > p {
  font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
code {
  color: #444;
}
p, ul {
  font-family: 'Droid Serif', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
footer, footer > p {
  font-family: 'Droid Serif', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
.rust-code {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
}
.keyword {
  font-weight: bold;
  color: #0060B0;      
}
.identifier {
  color: #B00060;
}
.string {
  color: #008000;
}
section {
  margin-top: 50px;
}
.arg {
  color: #303090;
}
.jumbotron {
  background-color: #E1F2F5;
}
header {
  margin-top: 50px;
  margin-bottom: 50px;
}
table {
  width: 100%;
}
th, td {
  text-align: left;
}

/* Override lg width */
@media (min-width: 1200px) {
.container {
width: 970px;
}
}
i {
display: block;
}
section h3 {
  font-weight: bold;
}
section ul {
  padding-left: 25px;
}
header h1 small {
  font-size: 70%;
}